layout {
	pane split_direction="vertical" {
		pane size="40%" {
			pane
			pane size="40%" command="npm" {
				args "start"
			}
		}
		pane size="60%" focus=true command="nvim"
	}
	pane size=1 borderless=true {
		plugin location="zellij:compact-bar"
	}
}
